html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Microsoft JhengHei", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  background-color: #F0F0F0;
  margin: 0 auto;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  margin: 20px 10px;
  height: 366px;
  width: 350px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__txt {
  color: #2EB738;
  text-align: center;
}

.title__txt h1 {
  margin-bottom: 10px;
  font-size: 56px;
}

.title__txt p {
  font-size: 24px;
}

.title .decLine {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background-color: #2EB738;
  position: relative;
}

.title .decLine::before, .title .decLine::after {
  content: 'x';
  color: #2EB738;
  position: absolute;
  top: -10px;
}

.title .decLine::before {
  left: -20px;
}

.title .decLine::after {
  right: -20px;
}

.card {
  height: 366px;
  width: 350px;
  border-radius: 100px 0px 30px 0px;
  -webkit-box-shadow: 10px 3px 10px #D8D8D8;
          box-shadow: 10px 3px 10px #D8D8D8;
  background-color: #FFFFFF;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 10px;
}

.card__title {
  width: auto;
  text-align: center;
  font-size: 128px;
  color: #2EB738;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 4px 3px 0px #F0F0F0;
  margin-bottom: 20px;
}

.card__formula {
  color: #2EB738;
  font-size: 24px;
  padding: 0 20px 10px;
  font-weight: normal;
  line-height: 35px;
}

.footer {
  max-width: 1280px;
  height: 34px;
  background-color: #2EB738;
  color: #fff;
  margin: 0 auto;
}

.footer p {
  line-height: 34px;
  text-align: right;
  margin-right: 60px;
  letter-spacing: 1px;
}
/*# sourceMappingURL=all.css.map */